html, body {
    height: 100%;
    margin: 0;
    padding-top: 28px;
}

#map {
    position: relative;
    height: 100%;
    width: 100%;
}

.colorbox {
    display: inline-flex;
    height: 1em;
    width: 1em;
    border:1px solid #000000;
}
